body{
    margin: 0;
}

img{
    width: 30%;
    margin: calc(10%/6);
}

/* If you put the image tags on the new line, you've to consider the white space too while specifying margins.
So, you've to use calc(10% / 7) instead of 10/6. */
nav{
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1.2em 0;
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
}